{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('card') }}">card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type') }}">type</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="pageContent"></div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('nav a').click(function (e) {
                e.preventDefault();
                $('nav a').removeClass('active');
                $(this).addClass('active');
                $("#pageContent").load($(this).attr('href'));
            });
        });

        $('#pageContent').on('submit', 'form', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function success(response) {
                    $("#pageContent").load($('.active').attr('href'));
                }
            });
        });
    </script>
{% endblock %}
